# Fichiers d'état Terraform
*.tfstate
*.tfstate.*

#Variables
*.tfvars


# Fichiers de sauvegarde
*.backup
*.bak

# Fichier de verrouillage
.terraform.lock.hcl

# Répertoire local de Terraform
.terraform/
